body {
  margin: 0;
  padding: 0;
  font-family: "National2, Helvetica Neue";
}

#root{
	background-color: #083372;
	background-repeat: repeat;
	background-size: cover;
	height: 100vh; 
}

.btn{
	font-family: "National2, Helvetica Neue";
	font-size: 24px;
	font-weight: bold;
	width: 200px;
	margin-right: 20px;
	border: 2px solid red;
	border-radius: 50px;
}