
.dashboard-page{
/*	background-color: #395399;
	background-repeat: repeat;
	background-size: cover;*/
	text-align: center;
  	color:#fff;
  	text-decoration: none;
  	font-family: "National2, Helvetica Neue";
  	font-size: 30px;
}

.typed-text{
	
}

.logo{
	margin-top: 130px;
	height: 100px;
	width: 150px;
}


.btn-dashboard{
	font-family: "National2, Helvetica Neue";
	font-size: 20px;
	font-weight: bold;
	width: 200px;
	margin-right: 20px;
	border: 2px solid red;
	border-radius: 25px;
}
* { color:#fff; text-decoration: none;}
