
.btn-search{
	padding: 10px 20px;
	color: #000;
	width: 100px;
	margin: 10px;
}

.input-field{
	width: 200px;
	padding: 10px;
	color: blue;
	border: 1px solid #000;
}

.welcomeBox{
	border: 2px solid #fff;
	background: transparent;
}

.doc-image{
	width: 250px;
	height: 250px;
}

.work-sans {
	font-family: 'Work Sans', sans-serif;
}

.searchBar{
	width: 600px;
	padding: 20px;
	margin: 0 auto;
	/*border: 1px solid #fff;*/
}

.search-form{
	text-align: center;
}

/*footer {
	padding-top: 10px;
	background-color: rgb(240, 243, 246)
}*/

.doc-div{
	border: 1px solid #fff;
	font-size: 16px;
}

.ui.segment.welcomeBox {
	height: auto;
	width: 50%;
	text-align: center;
	margin: auto;
	background: transparent;
	font-family: 'Work Sans', sans-serif;
}

.doc-container-display{
	width: 700px;
	margin: 0 auto;
	height: 500px;
	overflow: scroll;
}

.doc-display{
	width: 500px;
	border: 1px solid #fff;
	padding: 10px;
}

.doc-thumbnail{
	display: inline-block;
}

.ui.segment .welcomeBox{
	background: transparent;
}