
.link-logout{
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: bold;
}

.div-logo{
  margin-left: 500px;
  padding: 20px 0px;
}

.link-homepage{	
	float: left;
	position: absolute;
	left: 10px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	padding: 10px;
	background-color: red;
	border: 2px solid red;
	border-radius: 20px;
}

.nav-container{
	position: relative;
}