.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  color: white;
}

.App-intro {
  font-size: large;
  /*background-color: #000;*/
  height: 100vh;
}

.logo{
  height: 200px;
  width: 300px;
}

.donate-card{
  height: 400px;
  margin: 0 auto;
}

.donate-container{
  padding: 50px 100px;
}

.donate-image{
  height: 200px;
}

.date{
  color: #000;
}